.d-inline {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.typeInput {

    &:hover {
        > div > div > .arrow {
            color: deepskyblue;
        }
    }

    > .moreInput {
        display: inline-flex;

        &:hover {
            > div > .arrow {
                color: black;
            }
        }
    }
}

.selector {
    > .selectedValue {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.selection {
    position: relative;
    border-bottom: 1px solid black;
    outline: none;

    > div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: 1px solid black;

        .opt {
            cursor: default;

            &:hover {
                background-color: lightblue;
            }
        }
    }
}
